@{ 
    Layout = "~/Views/Shared/_SiteIndexLayout.cshtml";
}
@section     Metas{
    
    }
@section Header{
    <header>
    }
        </header>
<section class="col-12 container">
   <h1 class="col-12 text-center text-black-50">
       @Resources.LabelResources.Contatct_Secretariat_Association_of_Iranian_Anesthesiology_Society
   </h1>
    <p class="col-12 container text-center">
        @Resources.LabelResources.Contact_Secratariant
    </p>
</section>
