@model IEnumerable<ViewModels.CommentViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Comments</title>
</head>
<body>
   
        @foreach (var item in Model)
        { <dl>
        @foreach (var Events in item.Events)
        {
<dt>
    @Html.DisplayFor(Current => Events.Eevent_Title)
</dt>
    <dd>
        @foreach (var Comments in Events.Comments)
        {
            @Html.DisplayFor(Currnet=>Comments.Comment_Content)
        }
    </dd>
        }
    </dl>

        }



</body>
</html>
